- var categories = require('./data/data');

mixin category(category, index)
	.content__panel(data-category=`${index+1}`)
		header.content__header
			h2.content__heading
				span.content__number= `${index+1}.`
				span.content__title= `${category.title}`
		article.content
			ul.question__list

				each question, ind in category.questions

					li.question__item
						.question__wrapper(id=`question-${index+1}-${ind+1}` data-category=`${index+1}` data-order=`${ind+1}`)
							span.question__number= `${index+1}.${ind+1}`
							span.question= question.title

mixin answer(category, index)
	each question, ind in category.questions
		.modal(id=`answer-${index+1}-${ind+1}` data-category=`${index+1}` data-order=`${ind+1}`)
			.answer__wrapper
				.answer__close(data-category=`${index+1}` data-order=`${ind+1}`)
				header.answer__header
					h4.answer__category= category.title
					|
					| (
					span.answer__category-number= `${index+1}.${ind+1}`
					| )
					|

					h2.answer__category-question= question.title
				article.answer!= question.answer


.questions#questions
	ul.question__list
		li.question__item
			.question__wrapper
				a(href="#") Level of access
		li.question__item
			.question__wrapper
				a(href="#") Changelog

	each category, index in categories
		+category(category, index)

.answers#answers
	each category, index in categories
		+answer(category, index)